<div id="new_user_form">
  <%= form_with(model: User.new, url: users_path(region: "long"), remote: true) do |f| %>
    <p>
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td valign="top">
            <div class="field">
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top">
                    <div class="field_label">
                    </div>
                    <div class="field_box">
                      <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", size: 12 %>
                    </div>
                  </td>
                  <td valign="top" style="padding-left: 3px;">
                    <div class="field_label">
                    </div>
                    <div class="field_box">
                      <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", size: 15 %>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="field">
              <div class="field_label">
              </div>
              <div class="field_box">
                <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-left: 10px;">
            <div class="field">
              <div class="field_label">
              </div>
              <div class="field_box">
                <%= f.text_field :login, class: "form-control", placeholder: "Login", maxlength: 40, size: 30 %>
              </div>
            </div>
            <div class="field">
              <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td valign="top">
                    <div class="field_box">
                      <%= f.password_field :password, class: "form-control", placeholder: "Password", size: 13 %>
                    </div>
                  </td>
                  <td valign="top" style="padding-left: 3px;">
                    <div class="field_box">
                      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password", size: 13 %>
                    </div>
                  </td>
                  <td valign="top" style="padding-left: 10px; padding-top: 17px;">
                    <% if @priority %>
                      <% if @value == 1 %>
                        <%= f.submit t('users.new.submit_and_endorse'), class: "yellow_button" %>
                      <% elsif @value == -1 %>
                        <%= f.submit t('users.new.submit_and_oppose'), class: "yellow_button" %>
                      <% else %>
                        <%= f.submit t('users.new.submit'), class: "yellow_button" %>
                      <% end %>
                    <% else %>
                      <%= f.submit t('users.new.submit'), class: "yellow_button" %>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </p>
  <% end %>
</div>