<div id="hp_intro"><%= @page_title %></div>
			
<p>
<%= paginate(@contacts) %>
<p>
<% for contact in @contacts %>
	<%= contact.name %> &lt;<%= contact.email %>&gt;<br/>
<% end %>

<%= paginate(@contacts) %>
